# Gradle caches and daemons
.gradle/
caches/
daemon/
wrapper/dists/

# Build outputs
/build/
app/build/
app/release/
/captures/
.externalNativeBuild
.cxx
local.properties

# Android Studio / IntelliJ IDEA
.idea/
*.iml

# User-specific files
*.orig
*.pyc
.DS_Store

# Keystore files
*.jks
*.keystore
